"*":
  "atom-beautify":
    css:
      indent_size: 2
    general:
      _analyticsUserId: "c1f9da19-4522-417c-b66b-6daf6c02ecb4"
      beautifyEntireFileOnSave: false
      disabledLanguages: [
        "Batch"
        "Git Commit Message"
        "Null Grammar"
        "Smarty"
      ]
    html:
      default_beautifier: "Pretty Diff"
      indent_size: 2
    js:
      jslint_happy: true
    json:
      indent_size: 2
    jsx:
      disabled: true
    php:
      beautify_on_save: true
    python:
      beautify_on_save: true
    sass:
      beautify_on_save: true
    scss:
      indent_size: 2
    xml: {}
  "atom-package-deps":
    ignored: []
  "atom-react-native-css":
    enableSass: true
    input: "styles.scss"
  "atom-ternjs":
    snippetsFirst: true
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-tidy"
      "autocomplete"
      "wrap-guide"
      "linter-jscs"
      "auto-update-packages"
      "emmet-atom-plugin"
    ]
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    titleBar: "custom"
  "css-comb":
    config: "custom"
  editor:
    fontFamily: "SF Mono"
    fontSize: 12
    showIndentGuide: true
  "exception-reporting":
    userId: "880a8db2-3460-9fe2-513c-9850fcf63dad"
  "file-icons":
    coloured: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter:
    lintOnChange: true
    lintOnEditorFocus: false
    showHighlighting: false
    statusBar: "None"
  "linter-eslint":
    disableFSCache: true
  "linter-jscs":
    displayAs: "warning"
    fixOnSave: true
  "linter-scss-lint":
    executablePath: "/Users/william/.rvm/bin/atom_scss-lint"
  "linter-stylelint":
    disableWhenNoConfig: false
    showIgnored: true
    useStandard: true
  "linter-ui-default":
    panelHeight: 69
  "livestyle-atom":
    analyzer:
      notifyCampaign: false
  "markdown-preview":
    useGitHubStyle: true
  metrics:
    userId: "ddb65b3a5c9db5be5991dea13b22892ff7d5a33e"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  nucleon: {}
  nuclide:
    "nuclide-home":
      showHome: false
  pigments:
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToVariables: true
    sortPaletteColors: "by color"
    sourceNames: [
      "**/vars.styl"
    ]
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  "sync-settings":
    _analyticsUserId: "d9c595cf-9cac-4982-975d-32fcc8b4256d"
    _lastBackupHash: "0b26dcc640902232db35f20cd2e7385da5689ad2"
    gistId: "a338a2182cd26ca3b8ef6564954d6da3"
    personalAccessToken: "94baa7f58a73e36df3cdae81b92ae58172dbb8da"
    quietUpdateCheck: true
  "travis-ci-status":
    personalAccessToken: "ee145b2ecd48de9445797684982ff9e372d8a7c8"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    showStatusBarIcon: false
  "wakatime-hidden":
    lastInit: 1492638763
  welcome:
    showOnStartup: false
