<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0D4E09BB-FABB-4512-A25F-FCA238B956F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lebon</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>leboncoin</string>
			<key>url</key>
			<string>http://www.leboncoin.fr/annonces/offres/pays_de_la_loire/occasions/?f=a&amp;th=1&amp;q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>1B95AC5C-0472-4DEC-B79A-8BDC6AA21819</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gks</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>gks.gs</string>
			<key>url</key>
			<string>https://gks.gs/sphinx/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2DAFA478-F599-473F-B157-863982C1693E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>what</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>What.CD</string>
			<key>url</key>
			<string>https://what.cd/artist.php?artistname={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5FF57F88-2B04-487D-A633-BF4523A3C6FF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lib</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Libertalia</string>
			<key>url</key>
			<string>https://libertalia.me/torrents.php?name={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>72A5E7C2-CFA2-4ED0-99C2-1F84D04BE2BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>t411</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Torrent411</string>
			<key>url</key>
			<string>http://www.t411.io/torrents/search/?search={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>FD16BF5A-72AD-48A0-840E-4DCBD309DB24</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rut</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Rutracker</string>
			<key>url</key>
			<string>http://rutracker.org/forum/tracker.php?nm={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
