<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>alfred.theme.custom.0B9A2F5C-BC9E-47C4-A111-CF8CCEDB5E1A</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg5qZWT+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Andrew</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Yosemite</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg4/CdT2G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5mYmD6DmZiYPoOZmJg+g+xROD+G
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg9ejcD+G
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg66tLT+Drq0tP4OurS0/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAgwrXIz+G
			</data>
			<key>resultTextFont</key>
			<string>Helvetica</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg4/CdT2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/r5eT+D+vl5P4P6+Xk/AIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>2</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg3sUbj+G
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6WkJD+DpaQkP4OlpCQ/g/YoHD+G
			</data>
			<key>shortcutFont</key>
			<string>Helvetica</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+vq6j6D6+rqPoPr6uo+gylcTz+G
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.0B9A2F5C-BC9E-47C4-A111-CF8CCEDB5E1A</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.5E0DF57E-6032-437D-9497-CCBA1925BD80</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg0jhej+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>William Bout</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>El Capitan</string>
			<key>resultPaddingSize</key>
			<integer>2</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg4/CdT2G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/Yo3D6D9ijcPoP2KNw+AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5qZGT+DmpkZP4OamRk/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgz0KVz6DPQpXPoM9Clc+AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg83MzD2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>searchFont</key>
			<string>System Light</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJm
			ZoOrqio/AYaG
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgzMzMz+DMzMzP4MzMzM/AYY=
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg2ZmJj+DZmYmP4NmZiY/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.5E0DF57E-6032-437D-9497-CCBA1925BD80</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.805D6E2A-BC64-483E-B326-E55A93E28E89</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4OXVz+Dg5dXP4ODl1c/AYY=
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD2DzczMPYPNzMw9AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>Ddyracer</string>
			<key>imageStyle</key>
			<integer>9</integer>
			<key>name</key>
			<string>ML Blue</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg4dL6T2DYxyWPgEBhg==
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg1rHQz+DW69CP4NZ30Q/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+mTfj+D0id9PwEBhg==
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg2ZmJj+DZmYmP4NmZiY/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD2DzczMPYPNzMw9AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica</string>
			<key>resultTextFontSize</key>
			<integer>4</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4/CVT+Dj8JVP4OPwlU/AIY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg6KxZD+DorFkP4OisWQ/AIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJm
			ZoOrqio/AYaG
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4/CVT+Dj8JVP4OPwlU/AIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg0+ruz2DMhg9PgEBhg==
			</data>
			<key>shortcutFont</key>
			<string>Helvetica</string>
			<key>shortcutFontSize</key>
			<integer>3</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBAYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.805D6E2A-BC64-483E-B326-E55A93E28E89</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
		<key>alfred.theme.custom.9B5A9956-BD26-4B49-B622-F744E0E93C56</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBg83MTD+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD2DzczMPYPNzMw9AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>James Bryant</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Water</string>
			<key>resultPaddingSize</key>
			<integer>4</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMDC+s+AQGG
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+fmZj+D5+ZmP4Pn5mY/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZoMAAIA+gwAAAD+G
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZoMAAIA+AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultTextFontSize</key>
			<integer>4</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMDC+s+AQGG
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAYNfdHw/g2Awez8Ahg==
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue Light</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZoMIIc49AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgEAhg==
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg2dQEzqDZDcFPwEBhg==
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+fmZj+D5+ZmP4Pn5mY/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.9B5A9956-BD26-4B49-B622-F744E0E93C56</string>
			<key>widthSize</key>
			<integer>4</integer>
		</dict>
		<key>alfred.theme.custom.AE3B3036-4A81-4934-ABCE-36EA26937082</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg+zraz+D7OtrP4Ps62s/gzMzcz+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nIyD2DycjIPYPJyMg9AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>0</integer>
			<key>credits</key>
			<string>Damien</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Minimal</string>
			<key>resultPaddingSize</key>
			<integer>1</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg83MTD2G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg//+/j6D//7+PoP//v4+AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nIyD2DycjIPYPJyMg9AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg6emJj+Dp6YmP4OnpiY/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8nIyD2DycjIPYPJyMg9AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica</string>
			<key>resultTextFontSize</key>
			<integer>4</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9bVVT+D1tVVP4PW1VU/AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9LRUT+D0tFRP4PS0VE/AIY=
			</data>
			<key>searchFont</key>
			<string>Helvetica</string>
			<key>searchFontSize</key>
			<integer>4</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>3</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7a1NT+D1tVVPwEBhg==
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9bVVT+D1tVVP4PW1VU/AYY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9HQUD6D0dBQPoPR0FA+AYY=
			</data>
			<key>shortcutFont</key>
			<string>Helvetica</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7u6uj4Ag/v6+j4Bhg==
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.AE3B3036-4A81-4934-ABCE-36EA26937082</string>
			<key>widthSize</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
